<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mqa.android.kade">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".modules.activities.DetailActivity" />
        <activity android:name=".modules.activities.TeamDetailActivity" />
        <activity android:name=".modules.activities.PlayerDetailActivity" />
        <activity android:name=".modules.activities.SearchTeamActivity"></activity>
    </application>

</manifest>